.banner {
    background: var(--clr-azul-degrade);
    color: var(--clr-branco);
    padding: 2.5rem 2rem;
    text-align: center;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    line-height: 24px;
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--clr-branco);
    border-radius: 24px;
    color: var(--clr-branco);
    font-family: var(--fnt-principal);
    font-size: 14px;
    padding: .75rem;
    text-align: center;
    width: 100%;
}

.banner__pesquisa::placeholder {
    background: url(../img/Pesquisa.svg) no-repeat;
    background-position: 1rem;
    font-family: var(--fnt-principal);
    font-size: 14px;
    text-align: center;
}


@media screen and (min-width: 1024px) {

    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 7rem;
    }
}

@media screen and (min-width: 1728px) {

    .banner {
        padding: 6rem;
    }

    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 9.5rem;
    }
}