.contato {
    padding: 1.5rem;
    background-color: var(--clr-branco);
}

.contato__titulo,
.contato__texto {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    padding: 1rem 0;
}

.contato__email {
    padding: .5rem;
    border-radius: 24px;
    width: 90%;
    border: 1px solid var(--clr-azul-escuro);
    font-family: var(--fnt-principal);
    color: var(--clr-azul-escuro);
    padding-left: 1rem;
}

.contato__email::placeholder {
    font-size: 16px;
    font-family: var(--fnt-principal);
    background: url(../img/Email.svg) no-repeat;
    background-position: 1rem;
    color: var(--clr-azul-escuro);
    text-align: center;
}

@media screen and (min-width: 1024px) {
    
    .contato {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3rem 0;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__texto {
        line-height: 1.5rem;
    }

    .contato__descricao {
        margin-right: 1rem;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
}