.cabecalho {
    background-color: var(--clr-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    width: 48px;
}

.container {
    align-items: center;
    display: flex;
}

.container__imagem {
    padding: .5rem;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.png);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--clr-azul-degrade);
}

.container__titulo {
    display: none;
}

.container__logo {
    padding: 0 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--clr-branco);
}

.lista-menu__titulo {
    color: var(--clr-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--clr-azul-degrade);
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opcoes {
    display: none;
}


.opcoes__botao {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fnt-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 300;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--clr-preto);
        text-decoration: none;
    }

    .container__imagem--transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulos > .opcoes__item {
        background: var(--clr-azul-degrade);
        color: var(--clr-branco);
    }

    .lista-menu__item:hover {
        background: var(--clr-azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--clr-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 2rem;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--clr-preto);
        margin-left: 2rem;
    }

    .container__texto {
        display: block;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 2rem;
    }
    
}